<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Website</h1>
    <p> <b>Lorem ipsum dolor sit amet,</b> <br>  <i> adipisicing elit. Quis voluptatum quasi ducimus repudiandae,</i> 
        <br><u>labore assumenda unde fuga eius iste obcaecati autem, 
            illo cum numquam culpa repellat minima quisquam soluta ipsum!</u></p>
    <footer><marquee behavior="" direction="right">Thank You</marquee></footer>
</body>
</html>